body {
    color: #343338;
    /*Default Color*/
    
    margin: auto;
    max-width: 992px;
}

.fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    position: relative;
}

.column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.flex {
    -webkit-flex: 1;
    flex: 1;
}

.big-padding {
    padding: 15px;
}

.small-padding {
    padding: 7.5px;
}

.rounded {
    height: 200px;
    width: 200px;
    border-radius: 4000px;
}

.small-icon {
    height: 8px;
    width: 8px;
}

.icon {
    height: 16px;
    width: 16px;
    margin-right: 1em;
}

.big-icon {
    height: 32px;
    width: 32px;
    margin-right: 1em;
}

.top-section {
    background-color: #f2f2f2;
}

.left-section {
    padding: 1em;
}

.right-section {
    padding: 1em;
    width: 33%;
}

header {
    font-size: 1.4em;
    text-transform: uppercase;
    padding-bottom: 1em;
}

header .icon {
    margin-right: 1em;
}

section {
    padding: 1em;
}

.profile-picture {}

.profile-picture:hover img {
    display: none;
}

.profile-picture video {
    display: none;
}

.profile-picture:hover video {
    display: block;
}

.contact-info {}

.contact-info span {
    padding: 4px;
    display: block;
    vertical-align: middle;
}

.contact-info a {
    color: #343338;
    text-decoration: none;
}

.first-name {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #146ea3;
    /*accent color*/
}

.last-name {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
}

.profession {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: #706f75;
    /*secondary color*/
}

.work-info-item {}

.work-info-item .header {
    vertical-align: middle;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f2f2f2;
    margin-bottom: 0.5em;
}

.work-info-item .title {
    font-size: 1.2em;
    color: #0083b9;
    text-transform: uppercase;
    margin-right: 0.5em;
}

.work-info-item .employer {
    margin-left: 0.5em;
}

.work-info-item .location {
    font-size: 0.8em;
    color: #706f75;
}

.work-info-item .location img {
    margin-right: 0em;
}

.work-info-item .period {
    font-weight: bold;
    text-transform: uppercase;
}

.work-info-item .description {
    padding: 1em;
    font-style: italic;
}

.education-info-item {
    padding: 0.5em;
}

.education-info-item .header{
}

.education-info-item .major {
    display: block;
    font-size: 1.2em;
    color: #0083b9;
    text-transform: uppercase;
}

.education-info-item .school-type {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
}

.education-info-item .school-name {
    width: 66%;
    font-size: 0.8em;
    text-align: right;
}
