.modal .ngdialog-content {
    max-height: 100%;
    overflow-y: scroll;
}

@media screen {
    body {
        color: #343338;
        font-family: Times;
        margin: 0 auto;
        max-width: 992px;
    }
}

@media screen and ( min-width: 992px) {
    body {
        box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

a {
    color: #343338!important;
    text-decoration: none !important;
}

p {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

p + p {
    margin-top: 0.5em;
}

.fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    position: relative;
}

.stretch {
    align-items: center;
}

.column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.flex {
    -webkit-flex: 1;
    flex: 1;
}

.big-padding {
    padding: 15px;
}

.small-padding {
    padding: 7.5px;
}

.rounded {
    height: 200px;
    width: 200px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    border-radius: 400px;
    overflow: hidden;
}

.video iframe {
    height: 200px;
    width: 200px;
}

.small-icon {
    height: 8px;
    width: 8px;
}

.icon {
    height: 16px;
    width: 16px;
    margin-right: 1em;
}

.big-icon {
    height: 32px;
    width: 32px;
    margin-right: 1em;
}

.top-section {
    background-color: #f2f2f2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f2f2f2;
    flex-wrap: wrap;
}

.main-container{
    flex-wrap: wrap;
}

.left-section {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #f2f2f2;
 }

.right-section {
    width: 30%;
}

header {
    font-size: 1.4em;
    text-transform: uppercase;
    padding-bottom: 0.5em;
}

header .icon {
    margin-right: 1em;
}

section {
    padding: 1em 1em 0 1em;
}

.profile-picture {}

.profile-picture:hover .picture,
.profile-picture .video {
    display: none;
}

.profile-picture:hover .video {
    display: block;
    text-align: center;
}

.contact-info {
    margin: auto;
    padding: 1em;
}

@media only screen and (max-width: 768px) {
    .left-section, .right-section, .contact-info {
        width: 100%;
    }
    .profile-picture, .ribbon{
        display: none;
    }
}

.contact-info .method {
    padding: 4px;
}

.contact-info .icon {
    margin-right: 1.2em;
}

.first-name {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #146ea3;
    /*accent color*/
}

.last-name {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
}

.profession {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: #706f75;
    /*secondary color*/
}

.print {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1em;
}

body:not(:hover) .print {
    display: none;
}

.descriptors {
    margin-bottom: -50px;
}

.ribbon {
    width: 300px;
    color: white;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 75px;
    right: -75px;
    padding: 10px;
    transform: rotate(45deg);
    background-color: #146ea3;
    z-index: 2;
    cursor: pointer;
}

.ribbon{
    display: none;/*Remove me*/
}

.github-ribbon {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    z-index: 1;
}

.work-info-item {}

.work-info-item .header,
.volunteering-info .header,
.projects .header {
    vertical-align: middle;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f2f2f2;
    margin-bottom: 0.5em;
}

.work-info-item .title,
.volunteering-info .title,
.projects .title,
.awards .title {
    font-size: 1.2em;
    color: #0083b9;
    text-transform: uppercase;
    margin-right: 0.5em;
}

.work-info-item .employer,
.volunteering-info .employer {
    margin-left: 0.5em;
}

.work-info-item .location {
    font-size: 0.8em;
    color: #706f75;
}

.work-info-item .location img {
    margin-right: 0em;
}

.work-info-item .period,
.volunteering-info .period {
    font-weight: bold;
    text-transform: uppercase;
}

.work-info-item .description,
.volunteering-info .description,
.projects .description,
.references .description,
.awards .description {
    padding: 0.4em 1em 0.4em 1em;
    font-style: italic;
}

.interests {
    margin-bottom: -4em;
}

.references .description {
    font-size: 0.8em;
}

.education-info {
    margin-bottom: -1em;
}

.education-info th {
    vertical-align: bottom;
}

.education-info td {
    padding: 0.5em;
}

.education-info td:not(:last-child),
th:not(:last-child) {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #f2f2f2;
    margin-right: 0.5em;
}

.education-info .education-info-item {
    padding: 0.5em;
    /*max-width: 50%;*/
}

.education-info .major {
    font-size: 1.2em;
    color: #0083b9;
    text-align: left;
    text-transform: uppercase;
}

.education-info .school-type {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
}

.education-info .school-name {
    width: 66%;
    font-size: 0.8em;
    text-align: right;
}

.timeline div {
    margin-bottom: -30px;
}

.international-map {
    text-align: center;
    height: 168px;
}

.linked-in {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #f2f2f2;
    text-align: center;
}

.linked-in .qr-code {
    width: 50%;
}

.linked-in .logo {
    width: 50%;
}

.skills {
    box-sizing: border-box;
    max-height: 10em;
    height: 200px;
    overflow: hidden;
}

.skills .skill-item {
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 0.8em;
    line-height: 1.8em;
    /*float: left;*/
    display: inline-block;
    padding-left: 1em;
    padding-bottom: 1em;
}

.meter {
    position: relative;
    display: inline-block;
    margin-left: 2em;
    width: 6 em;
    border-color: #146ea3;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 4px;
}

.meter span {
    background: #146ea3;
}

meter {
    width: 100%;
    -webkit-appearance: none;
    border-radius: 1em;
} //Crucial, this will disable the default styling in Webkit browsers
meter::-webkit-meter-bar {
    background: #FFF;
    border: 1px solid #CCC;
}

meter::-webkit-meter-optimum-value {
    background: #146ea3;
    background: -moz-linear-gradient(top, #a1d4e6 0%, #146ea3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1d4e6), color-stop(100%, #146ea3));
    background: -webkit-linear-gradient(top, #a1d4e6 0%, #146ea3 100%);
    background: -o-linear-gradient(top, #a1d4e6 0%, #146ea3 100%);
    background: -ms-linear-gradient(top, #a1d4e6 0%, #146ea3 100%);
    background: linear-gradient(to bottom, #a1d4e6 0%, #146ea3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a1d4e6', endColorstr='#146ea3', GradientType=0);
}
