<html data-ng-app="resume">

<head>
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" type="text/css" href="timeline.css">
    <link rel="stylesheet" type="text/css" href="bower_components\ngDialog\css\ngDialog.css">
    <link rel="stylesheet" type="text/css" href="bower_components\ngDialog\css\ngDialog-theme-default.css">
    <link rel="stylesheet" type="text/css" href="print.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.css">
    <script type="text/javascript" src="bower_components\angular\angular.js"></script>
    <script type="text/javascript" src="bower_components\angular-resource\angular-resource.js"></script>
    <script type="text/javascript" src="bower_components\angular-route\angular-route.js"></script>
    <script type="text/javascript" src="bower_components\json-editor\dist\jsoneditor.js"></script>
    <script type="text/javascript" src="bower_components\angular-json-editor\dist\angular-json-editor.js"></script>
    <script type="text/javascript" src="bower_components\ngDialog\js\ngDialog.js"></script>
    <script type="text/javascript" src="html5-video-autoplay-on-hover.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript" src="international-map.js"></script>
    <script type="text/javascript" src="bower_components\d3\d3.min.js"></script>
    <script type="text/javascript" src="bower_components\d3-cloud\d3.layout.cloud.js"></script>
    <script type="text/javascript" src="bower_components\d3-timeline\src\d3-timeline.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="descriptors.js"></script>
    <script type="text/javascript" src="timeline.js"></script>
    <script type="text/javascript" src="resume.js"></script>
    <script type="text/javascript" src="googleAddressLookup.js"></script>
    <script type="text/javascript" src="interests.js"></script>
    <script type="text/javascript" src="LinkedInToJsonResume.js"></script>
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 77019 vxdfuwy53
    authorize: true
    </script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-66792740-1', 'auto');
        ga('send', 'pageview', {
            page: '/resume'
        });
    </script>
</head>

<body data-ng-controller="Main">
    <div class="ribbon" data-ng-click="open()">
        Try uploading YOUR resume
    </div>
    <a class="github-ribbon" href="https://github.com/dclaze">
        <img src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
    </a>
    <div class="column fullscreen">
        <div class="row top-section big-padding">
            <div class="flex">
                <span class="first-name">{{resume.basics.name | firstName}}</span>
                <span class="last-name">{{resume.basics.name | lastName}}</span>
                <span class="profession">{{resume.basics.label | linkedInProfession}}</span>
            </div>
            <div class="profile-picture">
                <a data-ng-href="{{resume.linkedIn.profileUrl}}">
                    <img class="rounded" data-ng-src="{{resume.basics.picture}}" />
                    <video class="rounded" data-ng-if="resume.basics.video">
                        <source src="{{resume.basics.video}}" type="video/mp4"> Your browser does not support the video tag.
                        </source>
                    </video>
                    <div class="rounded" data-ng-if="!resume.basics.video">
                    </div>
                </a>
            </div>
            <div class="contact-info">
                <div>
                    <div class="email method">
                        <img class="icon" src="icons/email.png" />
                        <a href="mailto:{{resume.basics.email}}">{{resume.basics.email}}</a>
                    </div>
                    <div class="phone method">
                        <img class="icon" src="icons/phone.png" />
                        <a href="tel:{{resume.basics.phone}}">{{resume.basics.phone}}</a>
                    </div>
                    <div class="website method">
                        <img class="icon" src="icons/www.png" />
                        <a ng-href="{{resume.basics.website | website}}" target="_blank">
                            <span>{{resume.basics.website}}</span>
                        </a>
                    </div>
                    <div class="address method">
                        <img class="icon" src="icons/address.png" />
                        <a href="{{resume.basics.location | googleMapsUrl}}" target="_blank">
                            <span long-address="resume.basics.location"></span>
                        </a>
                    </div>
                </div>
            </div>
            <a class="print" href="javascript:window.print()">
                <img class="icon" src="icons/print.png" />
            </a>
        </div>
        <div class="row">
            <div class="left-section column flex">
                <section>
                    <header>
                        <img class="icon" src="icons/workexperience.png" /> Work Experience
                    </header>
                    <div class="work-info-item" data-ng-repeat="workItem in resume.work">
                        <div class="header row stretch">
                            <span class="title">{{workItem.position}}</span> -
                            <span class="employer flex">{{workItem.company}}</span>
                            <span class="location" data-ng-if="workItem.location">
                                <a style="text-decoration: none;" href="{{workItem.location | googleMapsUrl}}" target="_blank">
                                    <img class="icon" src="icons/pin.png"/>
                                    <span short-address="workItem.location"></span>
                            </a>
                            </span>
                        </div>
                        <div class="period">
                            {{workItem.startDate | date:'MM/yy'}} - {{workItem.endDate | date:'MM/yy'}}
                            <span data-ng-if="!workItem.endDate">Current</span>
                        </div>
                        <div class="description">
                            <div work-summary="workItem.summary"></div>
                        </div>
                    </div>
                </section>
                <section class="projects" data-ng-show="resume.projects.length">
                    <header>
                        <img class="icon" src="icons/projects.png" />Projects
                    </header>
                    <div data-ng-repeat="project in resume.projects">
                        <div class="header row stretch">
                            <span class="title">{{project.name}}</span>
                        </div>
                        <div class="description">
                            <p>{{project.description}}</p>
                        </div>
                    </div>
                </section>
                <section class="education-info">
                    <header>
                        <img class="icon" src="icons/education.png" /> Education
                    </header>
                    <table>
                        <thead>
                            <tr>
                                <th class="major" data-major="educationItem.area" data-ng-repeat="educationItem in resume.education.slice().reverse()">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-ng-repeat="educationItem in resume.education.slice().reverse()">
                                    <span class="school-type">{{educationItem.studyType}}</span>
                                    <div class="row">
                                        <img class="big-icon" ng-src="{{educationItem.color | educationRibbon}}" />
                                        <div>
                                            <img class="small-icon" src="icons/pin.png" />
                                            <span class="school-name">
                                                     <a href="{{educationItem.location ? (educationItem.location | googleMapsUrl) : null}}" target="_blank">
                                                        {{educationItem.institution}}
                                                     </a>
                                                </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="timeline">
                    <header>
                        <img class="icon" src="icons/timeline.png" /> TimeLine
                        <div timeline="resume"></div>
                    </header>
                </section>
                <section class="volunteering-info" data-ng-hide="!resume.volunteer || !resume.volunteer.length">
                    <header>
                        <img class="icon" src="icons/volunteer.png" /> Volunteering
                    </header>
                    <div data-ng-repeat="volunteering in resume.volunteer">
                        <div class="header row stretch">
                            <span class="title">{{volunteering.position}}</span> -
                            <span class="employer flex">{{volunteering.organization}}</span>
                        </div>
                        <div class="period">
                            {{volunteering.startDate | date:'MM/yy'}} - {{volunteering.endDate | date:'MM/yy'}}
                            <span data-ng-if="!workItem.endDate">Current</span>
                        </div>
                        <div class="description">
                            <div work-summary="volunteering.summary"></div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="right-section column">
                <section>
                    <header>
                        <img class="icon" src="icons/profile.png" /> Who am I?
                    </header>
                    <div class="descriptors" descriptors="resume.descriptors" name="resume.basics.name | firstName">
                    </div>
                </section>
                <section class="skills">
                    <header>
                        <img class="icon" src="icons/skills.png" /> Skills
                    </header>
                    <div>
                        <ul>
                            <li class="row skill-item" data-ng-repeat="skill in resume.skills">
                                <span>{{skill.name}}</span>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="experience">
                    <header>
                        <img class="icon" src="icons/internation-pin.png" /> Experience
                    </header>
                    <div class="international-map" id="international-map">
                    </div>
                </section>
                <section>
                    <header>
                        <img class="icon" src="icons/interests.png" /> Interests
                    </header>
                    <div interests="resume.interests"></div>
                </section>
                <section class="references" data-show="resume.references.length">
                    <header>
                        <img class="icon" src="icons/recommendation.png" />Recommendation
                    </header>
                    <div>
                        <img class="icon" src="icons/open-quotes.png" />
                        <div class="description">{{resume.references[resume.references.length-1].reference.split('.').slice(0,3).join(". ")}}</div>
                        <img class="icon" style="float:right;" src="icons/close-quotes.png" /> - {{resume.references[resume.references.length-1].name}}
                    </div>
                </section>
                <section class="awards" data-show="resume.awards">
                    <header>
                        <img class="icon" src="icons/awards.png" /> Awards
                    </header>
                    <div>
                        <div class="header">{{resume.awards[0].name}}</div>
                        <div class="description">{{resume.awards[0].description}}</div>
                    </div>
                </section>
                <section class="flex">
                </section>
                <section class="linked-in">
                    <a data-ng-href="{{resume.linkedIn.profileUrl}}">
                        <img class="qr-code" data-ng-src="http://api.qrserver.com/v1/create-qr-code/?color=146ea3&data={{resume.linkedIn.profileUrl}}" />
                        <img class="logo" src="icons/linkedin-logo-tm.png" />
                    </a>
                </section>
            </div>
        </div>
    </div>
</body>

</html>
