@media print {
    body {
        width: 992px;
        margin: 0 auto;
    }
    @page {
        size: auto;
        margin: 5mm;
    }
    .print .icon {
        display: none;
    }
    .rounded {
        -webkit-mask-image: none;
    }
    .ribbon {
        display: none;
    }
    .github-ribbon {
        display: none;
    }
    .timeline {
        display: none;
    }
    .experience {
        display: none;
    }
    .linked-in .qr-code {
        width: 20%;
    }
}
